<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-2">
        <h5>MegaPackPack</h5>
        <ul>
          <li><a href="#">Acerca de Nosotros</a></li>
          <li><a href="#">Conviertete en un MegaMiembro</a></li>
          <li><a href="#">Noticias!</a></li>
          <li><a href="#">MegaPackPack Pink</a></li>
          <li><a href="#">Politica de Privacidad</a></li>
          <li><a href="#">Afiliate</a></li>
          <li><a href="#">Terminos y Condiciones</a></li>
          <li><a href="#">Trabaja con Nosotros!</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <h5>Help</h5>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contactanos</a></li>
          <li><a href="#">MEGA Wallet Pegruntas Frecuentes</a></li>
          <li><a href="#">Conecta con Soporte</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <img class="footImg3" src="assets/bigbasket-logo.jpg" alt="">
        <div class="d-flex">
          <img class="footImg" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
            alt="">
          <img class="footImg2" src="assets/download-on-the-app-store-apple-logo-svgrepo-com.svg" alt="">
        </div>
        <ul class="d-flex">
          <li><a><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a><i class="fa-brands fa-instagram"></i></a></li>
          <li><a><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
